@forward './variables';
@use './variables' as *;

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 10rem;
  height: 10rem;
  border: 4px solid #ccc;
  border-top: 4px solid #00cc66;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-layout {
  height: 100dvh;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.9),
      rgba(#326e42, 0.8)
    ),
    url('https://res.cloudinary.com/danlxus36/image/upload/v1744982537/tasks4_uiqmkh.jpg');
  background-size: cover;
  background-position: center;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
