@use './globals' as *;

.home-container {
  padding: 2rem;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    width: 100%;
    background-color: rgba($color-light, 0.2);
    padding: 1rem;
    backdrop-filter: blur(4px);

    .text-area-input {
      border: none;
      resize: none;
      width: 100%;
      min-height: 10rem;
      padding: 1rem;
      border-radius: 4px;
      font-size: 1.2rem;
      opacity: 50%;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 3rem rgba($color-light, 0.2);
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 300;
      color: rgba($color-light, 0.7);
    }
  }
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  background-color: rgba($color-light, 0.2);
  backdrop-filter: blur(4px);
  padding: 1.25rem 1.5rem;
  box-shadow: 0 4px 12px rgba(236, 235, 235, 0.05);

  img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .btn {
      border: none;
      width: 4rem;
      padding: 0.4rem;
      font-weight: 400;
      font-size: 95%;
      background-color: $color-secondary;
    }

    li {
      font-size: 1rem;
      color: #333333b9;
      margin-bottom: 0.25rem;

      &:first-child {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0;
    text-align: center;

    img {
      height: 4rem;
      width: 4rem;
    }

    ul {
      li {
        font-size: 0.95rem;
      }
    }
  }
}
.hidden {
  opacity: 0;
  width: 0;
}

.form-container-text {
  padding: 1rem 0;
}
