@use './globals' as *;

.header {
  position: relative;
  height: 90dvh;
  animation: apear 1s 1.5s forwards;
  animation-fill-mode: backwards;

  &__hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    text-align: center;

    &-primary {
      display: block;
      font-size: 5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2rem;
    }

    &-secondary {
      display: block;
      font-weight: 100;
      text-transform: uppercase;
      color: $color-light;
      margin-bottom: 2rem;
    }
  }
  &__btn-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 764px) {
  .header__hero-box {
    &-primary {
      font-size: 2rem;
      letter-spacing: 1rem;
    }
  }
}
